<!-- <button class = "BackToRestaurantPage" routerLink="/customer-restaurant-dish-list">Back to restaurant page</button> -->


<ng-container *ngIf="products.length!=0">
    <div class="table-container">
        <table  mat-table [dataSource]="dataSource" matSort>
    
          <!-- ID Column -->
          <ng-container matColumnDef="dish_ID">
            <th mat-header-cell [hidden]="!show" *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell [hidden]="!show" *matCellDef="let row"> {{row.dish_ID}} </td>
          </ng-container>

          <ng-container matColumnDef="dish_Path">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
            <td mat-cell *matCellDef="let row"> 
                <img [src] ="row.dish_Path"  class = "DishImage">
            </td>
          </ng-container>
    
          <ng-container matColumnDef="dish_Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dish Name </th>
            <td mat-cell *matCellDef="let row"> {{row.dish_Name}}</td>
          </ng-container>
    
          <ng-container matColumnDef="dish_Price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dish Price </th>
            <td mat-cell *matCellDef="let row"> {{row.dish_Price | currency:'INR'}}</td>
          </ng-container>
  
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
              <button class="RemoveButton" (click)="removeProduct(row)">Remove from cart</button>
            </td>
          </ng-container>
         
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>
    </div>

        <div class="container">
          <mat-card class="example-card"> 
            <mat-card-header> 
              <mat-card-title>Item Total: {{allProducts}}</mat-card-title> 
              <mat-card-title>Tax & Restaurant Charges: {{TaxCharges}}</mat-card-title> 
              <br>
              <mat-card-title>Delivery Charge: 49.00 </mat-card-title> 
              <br>
              <mat-card-title>Grand Total: {{GrandTotal}} </mat-card-title>
            </mat-card-header> 
            <br>
            <div class="container"> 
              <button class="obutton" (click)="cartPageName()" style="color:green; font-size: 50px;float: right;" routerLink="/user-address-list" >
                Select Address 
              </button> 
            </div> 
          </mat-card>
  
          <mat-card class="example-card"> 
            <mat-card-header> 
              <mat-card-title style="font-weight: bold;">Address:</mat-card-title> 
              <br>
            </mat-card-header> 
            <mat-card-title>
              {{addressDetails}}
            </mat-card-title>
            <br>
          </mat-card>
        </div>

    <div class="container">
      <button class="obutton" (click)="openDialog()" style="color:red; font-size: 50px;float: right;">Place Order</button>
    </div>
</ng-container>

<ng-container *ngIf="products.length==0"> 
    <div class="container">
        <div class="center">
        <img src="" alt="">
        <h1>Your cart is empty!</h1>
        <h2>Add item to it now</h2>
        <button routerLink="/customer-restaurant-dish-list" style="color:red; font-size: 50px;border: transparent;">Shop now</button>
        </div>
        </div>
</ng-container>




