.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}

.center{
        top: 50%;
        left: 50%;
        transform: translate(-45%,-45%);
        text-align: center;
        position: absolute;
}

.card-table{
    display: flex;
    min-width: none;
    position: relative;
    word-wrap :break-word;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}

.example-card {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
  }

th {
    font-size: 20px;
    font-weight: bold;
    color: red;
  }

td{
    font-size: 20px;
  }
.BackToRestaurantPage
{
    font-size: 10px;
    height: 10px;
}
.RemoveButton
  {

    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  


p { 
  font-family: "Lato", sans-serif; 
  text-align: justify; 
} 
.example-card { 
  max-width: 1950px; 
  max-height: 2000px;
  margin: 70px; 
  justify-content: center;
} 
  
mat-card-subtitle { 
  font-size: 28px; 
} 
  
mat-card-title { 
  color: green; 
  font-size: 20px; 
  display: flex; 
}

.obutton{
  cursor: pointer;
  font-size: 5px;
}

.DishImage{
    width:150px;
    height:150px;
    border-radius: 40px;
  }


  .example-button-row {
    display: table-cell;
    max-width: 1000px;
  }


  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  
  .PlaceOrder{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: #52ad9c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  }
  .PlaceOrder:hover{
    cursor: pointer;
    background: #428a7d;
  }

  .bdrop {
    background-color: #bbbbbbf2;
    backdrop-filter: blur(4px);
}


.mat-card-content{
  font-size: 55px;
  font-weight: bold;
  display: flex;
}