
<div class="main-body" style="padding-left: 100px;">
    
    <!-- <mat-form-field>
      <mat-label style="font-size:20px">Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field> -->

    <div (click)="CartPage()" style="padding-bottom: 40px; padding-left: 1100px;padding-top: 40px;">  
        <button class="material-icons" style="color:red;font-size: 40px; ">shopping_cart</button>
        <span class="TotalCartItemNumber">{{TotalCartItemNumber}}</span>
    </div>
   
 

    <div class="container">
        <mat-card class="category-card" *ngFor="let category of Categories" (click)="getGroceryList(category)">
            <mat-card-header>
              <mat-card-title class="RestaurantName">{{category.Name}}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="category.Image" class = "DishImage">
          </mat-card>
        </div>
    </div>



    <div class="grocery-container">
        <mat-card class="grocery-card" *ngFor="let grocery of availableGroceries" (click)="getCategory(grocery)">
            <mat-card-header>
              <mat-card-title class="RestaurantName">{{grocery.ingredient_Name}}</mat-card-title>
              <mat-card-title class="GroceryPrice">{{grocery.price | currency:'INR'}}</mat-card-title>
            </mat-card-header>
            <!-- <img mat-card-image [src]="grocery.restaurant_Image" class = "DishImage"> -->
            <mat-card-actions style="color: white;">
            <button class="AddButton" (click)="addToCart(grocery)">Add to cart</button>
            <button class="RemoveButton" (click)="removeFromcart(grocery.ingredient_Id)">Remove from cart</button>
            </mat-card-actions>
          </mat-card>
    </div>