.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  .DishImage{
    width:240px;
    height:240px;
    padding:10px;
    border-radius: 20px;
  }

  th {
    font-size: 50px;
    font-weight: bold;
    color: red;
  }

  td{
    font-size: 50px;
  }

  .AddButton
  {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .AddButton:hover{
    background-color: #3e8e41
  }
  
  .RemoveButton
  {
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-left: 20px;
    cursor: pointer;
  }
  .RemoveButton:hover{
    background-color: rgb(161, 62, 62);
  }

.TotalCartItemNumber{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}

.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.item img {
    width: 164px;
}

.item {
    text-align: center;
}

.item a:hover {
    color: blue;
}

.card {
    padding: 30px;
    margin: 50px;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}


.RestaurantName{
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: rgb(10, 10, 10);
}

.GroceryPrice{
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: rgb(10, 10, 10);
}


.grocery-card {
  width: 200px;
  margin: 10px;
}




.category-card{
  width: 250px;
  height: 300px;
  margin: 10px;
  display: flex;
}

.category-card:hover
{
  background-color: #b6bea8
}

.container{
  display: flex;
  padding-left:70px;
}

.grocery-container{
  display: flex;
  flex-wrap: wrap;
  padding-left:150px;
}