.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  .DishImage{
    width:200px;
    height:200px;
    padding:5px;
    border-radius: 20px;
  }

  th {
    font-size: 30px;
    font-weight: bold;
    color: red;
  }

  td{
    font-size: 20px;
  }

  .AddButton
  {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .AddButton:hover{
    background-color: #3e8e41
  }
  .RemoveButton
  {

    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
  }
  .RemoveButton:hover{
    background-color: rgb(161, 62, 62);
  }

.TotalCartItemNumber{
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
}


.ViewRecipeButton
{
  background-color: rgb(196, 216, 16); /* Green */
  border: none;
  color: rgb(20, 18, 18);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:15px;
  margin-left: 20px;
  cursor: pointer;
}
.ViewRecipeButton:hover{
  background-color: #eec40c
}

.backdropBackground {
  width: 100px;
  height: 100px;
}