<app-search></app-search>
<div style="padding: auto;">
<!-- <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Dominos" #input>
  </mat-form-field> -->


<div class="container" style="background-color: rgb(247, 223, 9);">
  <div>
    <h1 style="text-align: center;">Recommended</h1>
  </div>
    <mat-card class="example-card-SuggestedDish" *ngFor="let dishes of suggestedDishes" (click)="getDishList(dishes)">
      <mat-card-title class="RestaurantDishName">{{dishes.dish_Name}}</mat-card-title>
      <img mat-card-image [src] ="dishes.dish_Path" class = "SuggestedDishImage">
      </mat-card>
</div>

<div class="container">
    <mat-card class="example-card" *ngFor="let restaurants of availableRestaurants" (click)="getDishList(restaurants)">
        <mat-card-title class="RestaurantName">{{restaurants.username}}</mat-card-title>
        <img mat-card-image [src]="restaurants.restaurant_Image" class = "DishImage">

       
      </mat-card>
    </div>
</div>