ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a{
    height: 30rem;
    width: 30rem ;
    border: 1px solid whitesmoke;
    border-radius:  1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}
li a :hover{
    opacity: 0.9;
    cursor: pointer;
}

.content{
    padding: .5rem 1rem;
}

.favourite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.favourite.not{
    color: black;
}

.name{
    font-size: 1.2rem;
}

.price{
    font-size: 1.2rem;
    color: grey;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.example-card {
    width: 200px;
    margin: 20px;
  }

.example-card-SuggestedDish {
    width: 200px;
    margin: 40px;
  }

.example-card:hover
  {
    background-color: #b6bea8
  }
  
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.mat-success {
    background-color: green;
    color: #fff;
}

.DishImage{
  width:200px;
  height:150px;
  padding:5px;
  border-radius: 10px;
  border-bottom:10px
  }

.SuggestedDishImage{
    width:200px;
    height:150px;
    padding:5px;
    border-radius: 10px;
    border-bottom:10px
  }

  mat-card-title{
    font-size: 5px;
  }

  .RestaurantName{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(10, 10, 10);
  }

  .RestaurantDishName{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(10, 10, 10);
  }